@model CrockPot.ViewModels.SharedRecipes.IndexSharedRecipeViewModel

@{
    ViewData["Title"] = "Shared with me";
}

<h1>Recipes Shared With You</h1>

@foreach (var item in Model.SharedRecipes)
{
    <button class="display_box" onclick="window.location.href = 'Recipes/Details/' + @item.RecipeId;">
        <div class="display_box_image">
            @if (item.Recipe != null)
            {
                <img src="@item.Recipe.ImageUrl" alt="Recipe Image" />
            }
        </div>

        <div class="display_box_content">
            <p>Shared by: @Model.SenderNames[item.SenderId]</p>
            <p>Recipe Name: @item.Recipe.Name</p>
        </div>
    </button>
}
