@model IEnumerable<CrockPot.Models.SharedRecipe>

@{
    ViewData["Title"] = "Shared with me";
}

<h1>Recipes Shared With You</h1>
@{
    Dictionary<string, string> senderNames = ViewData["SenderNames"] as Dictionary<string, string>; ;
}

@foreach (var item in Model)
{
    
    <button class="display_box" onclick="window.location.href = 'Recipes/Details/' + @item.RecipeId;">
        <div class="display_box_image">
            @if (item.RecipeObject != null)
            {
                <img src="@item.RecipeObject.ImageUrl" alt="Recipe Image" />
            }
        </div>

        <div class="display_box_content">
            <p>Shared by: @senderNames[item.SenderId]</p>
            <p>Recipe Name: @item.RecipeObject.Name</p>
        </div>

    </button>
}
