@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div style="display: flex;">
        <div style="width: 50%; height: 90vh; display: flex; justify-content: center; align-items: center;">
            <img class="sliding-image" src="https://crockpotblob2005.blob.core.windows.net/images/logo.png" alt="Crock Pot Logo">
        </div>
        <div style="width: 50%; height: 110vh; background-color: #49bb87; padding: 30px;">
            <h1 class="display-4">Welcome</h1>
            <h2 class="fade-in-slow" style="text-align: justify; text-align-last: justify;">
                Your ultimate destination for discovering mouth-watering recipes. Whether you're a seasoned chef or just starting out, our curated collection of diverse recipes caters to every taste and occasion, making cooking an enjoyable experience for everyone
            </h2>
            <p class="fade-in-slow">By Christiyan Yankov</p>
        </div>
    </div>
</body>