@model List<(Recipe, float)>

@{
    ViewData["Title"] = "Highest Rated Recipes";
}

<h1>Highest Rated Recipes</h1>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var tuple in Model)
        {
            <li>
                <a href="@Url.Action("Details", "Recipes", new { id = tuple.Item1.Id })" style="text-decoration: none;">
                    <div style="background-color: @(tuple.Item1 == Model.First().Item1 ? "gold" : tuple.Item1 == Model.Skip(1).First().Item1 ? "silver" : tuple.Item1 == Model.Skip(2).First().Item1 ? "#CD853F" : "white"); padding: 10px; border-radius: 5px; margin-bottom: 10px;">
                        @tuple.Item1.Name - Average Rating: @tuple.Item2
                    </div>
                </a>
            </li>
        }
    </ul>
}
else
{
    <p>There are currently no highly rated recipes.</p>
}
