@import url('https://fonts.googleapis.com/css?family=Space+Grotesk');

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: 'Space Grotesk';
    font-size: 20px;
    color: #0f4a38;
    background-color: #e9f5eb;
    padding-block: 0;
}

a {
    color: #0f4a38;
}

.scrollable-container {
    border: 2px solid #0f4a38;
    border-radius: 5px;
    width: 30vw;
    height: 20vh;
    overflow-y: scroll;
}

    .scrollable-container::-webkit-scrollbar {
        width: 5px;
        border-radius: 5px;
        background-color: #1a7a5d;
    }

    .scrollable-container::-webkit-scrollbar-thumb {
        background: #0f4a38;
        border-radius: 10px;
    }

.input-box {
    border: none;
    background-color: #b9dbad;
    border-radius: 10px;
}

.display_box {
    color: #0f4a38;
    border: none;
    display: inline-flex;
    margin-bottom: 20px;
    margin-right: 15px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: #fff;
    border-bottom: 3px solid #49bb87;
    width: 25vw;
    min-width: 300px;
    height: 10vw;
    min-height: 150px;
    transition: transform 0.3s ease;
    opacity: 0; 
    animation: fadeIn 0.5s forwards;
}

    .display_box:hover {
        transform: scale(1.1);
    }

.display_box_text {
    flex: 1;
    margin-top: 4vh;
}

.display_box_image {
    margin-top: 2vh;
    margin-left: 1vw;
    width: 8vw;
    height: 8vw;
    min-width: 100px;
    min-height: 100px;
    overflow: hidden;
}

    .display_box_image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

.ui_box {
    display: block;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #90ad87;
    width: 40vw;
    min-width: 300px;
    height: 150vh;
}

.stars_box {
    width: 20vh;
    min-width: 300px;
    height: auto;
}
.star {
    width: 3vw;
    height: auto
}
    .star:hover {
        transform: scale(1.2);
    }

.normal_button {
    background-color: #729C65;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: #0f4a38;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
    transition: background-color 0.3s ease;
}

    .normal_button:hover {
        background-color: #639154;
    }

.textarea-box {
    background-color: #b9dbad;
    width: 100%;
    min-width: 200px;
    max-width: 500px;
    height: 150px;
    padding: 5px;
    resize: vertical;
    border-radius: 10px;
}

.fade-in-fast {
    animation: fadeIn 1.5s;
}

.fade-in-slow {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sliding-image {
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.padding-body {
    padding-left: 5vw;
}
